<div class="hidden sm:block relative w-full h-full mt-24 sm:mt-32 group">
  <div class="w-full h-full scale-95 group-hover:scale-100 xl:scale-105 xl:group-hover:scale-110 2xl:scale-125 2xl:group-hover:scale-125 shadow-2xl rounded-xl -rotate-1 border-4 border-amber-500 overflow-hidden transition-all duration-300">
    <img ixImg #ix loading="lazy" [path]="img" class="absolute top-0 left-0 w-full h-full object-cover object-center z-10" alt="">
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-indigo-800 to-indigo-800/80 backdrop-blur z-20"></div>
    
    <div class="relative w-full h-full px-6 py-16 max-w-4xl z-40 mx-auto">
      <h1>Come ottenere la tua certificazione</h1>
      <p class="text-zinc-200" [innerText]="text"></p>
      <p class="text-zinc-200">Ci sono due modi per ottenere la tua certificazione:</p>
    </div>
  </div>
</div>

<div class="block sm:hidden">
  <h3 class="text-3xl">Come ottenere la tua certificazione</h3>
  <p class="text-zinc-200" [innerText]="text"></p>
  <p class="text-zinc-200">Ci sono due modi per ottenere la tua certificazione:</p>
</div>