<h2 class="text-center mb-6">Conosci i tuoi istruttori:</h2>

<img ixImg loading="lazy" path="gallery/pietro_overlay.png" style="transform: scaleX(-1);" class="h-64 -mb-16 ml-auto block md:hidden" alt="">
<div class="relative md:flex md:flex-row justify-between rounded-xl overflow-hidden shadow-2xl mb-16 group border-2 border-zinc-800">

  <div class="p-6 relative w-full z-10">
    <div class="md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 w-full p-4 md:p-14">
      <div class="bg-zinc-100 shadow-2xl rounded-full flex flex-row items-center px-2.5 py-1 mb-4 w-max transform scale-95 rotate-0 hover:-rotate-1 hover:scale-100 transition-all duration-300 font-bold cursor-pointer">
        <img ixImg loading="lazy" path="partner_logo/padi_logo.svg" alt="" class="w-6 h-6 mr-2">
        PADI #<span class="text-indigo-500">529123</span>
      </div>
      <h2>Pietro Lungarini</h2>
      <p class="max-w-prose">Sono Pietro ciao a tutti, è molto bello perchè ci sta secondo me come cosa la subacquea. Dovete sapere che non ho un diploma però sono una brava persona, quindi fidatevi e comprate i miei corsi</p>
      <button class="flex flex-row items-center text-indigo-400 border-b-2 border-zinc-900 hover:border-indigo-400 mt-4 transition-all duration-200">
        Più dettagli su di me
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>        
      </button>
    </div>
  </div>
  
  <div class="absolute top-0 left-0 w-full h-full block md:hidden">
    <img ixImg loading="lazy" path="courses/shark.jpeg" alt="" [imgixParams]="{ ar: '1:1', fit: 'crop' }" [width]="1" [height]="1" class="object-cover object-center w-full h-full">
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-zinc-900 to-zinc-900/80"></div>
  </div>
  
  <div class="relative hidden md:block">
    <img ixImg loading="lazy" path="courses/shark.jpeg" alt="" [imgixParams]="{ ar: '1:1', fit: 'crop' }" [width]="1" [height]="1" class="object-cover object-center w-screen max-w-sm md:max-w-md lg:max-w-xl">
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-zinc-900 to-zinc-900/80"></div>
    <img ixImg loading="lazy" path="gallery/pietro_overlay.png" style="transform: scaleX(-1);" class="absolute bottom-0 right-0 z-10 h-full opacity-70 group-hover:opacity-100 transition-all duration-300" alt="">
  </div>

</div>

<img ixImg loading="lazy" path="gallery/samuele_overlay_2.png" style="transform: scaleX(-1);" class="h-80 -mb-32  block md:hidden" alt="">
<div class="relative md:flex md:flex-row justify-between rounded-xl overflow-hidden shadow-2xl mb-16 group border-2 border-zinc-800">
  
  <div class="absolute top-0 left-0 w-full h-full block md:hidden">
    <img ixImg loading="lazy" path="courses/shark.jpeg" alt="" [imgixParams]="{ ar: '1:1', fit: 'crop' }" [width]="1" [height]="1" class="object-cover object-center w-full h-full">
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-zinc-900 to-zinc-900/80"></div>
  </div>
  
  <div class="relative hidden md:block">
    <img ixImg loading="lazy" path="courses/shark.jpeg" alt="" [imgixParams]="{ ar: '1:1', fit: 'crop' }" [width]="1" [height]="1" class="object-cover object-center w-screen max-w-sm md:max-w-md lg:max-w-xl">
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-l from-zinc-900 to-zinc-900/80"></div>
    <img ixImg loading="lazy" path="gallery/samuele_overlay_2.png" style="transform: scaleX(-1);" class="absolute bottom-0 left-0 z-10 h-full opacity-70 group-hover:opacity-100 transition-all duration-300" alt="">
  </div>

  <div class="p-6 relative w-full z-10">
    <div class="md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 w-full p-4 md:p-14">
      <div class="bg-zinc-100 shadow-2xl rounded-full flex flex-row items-center px-2.5 py-1 mb-4 w-max transform scale-95 rotate-0 hover:-rotate-1 hover:scale-100 transition-all duration-300 font-bold cursor-pointer">
        <img ixImg loading="lazy" path="partner_logo/padi_logo.svg" alt="" class="w-6 h-6 mr-2">
        PADI #<span class="text-indigo-500">529119</span>
      </div>
      <h2>Samuele Lungarini</h2>
      <p class="max-w-prose">Sono Samuele ciao a tutti, è molto bello perchè ci sta secondo me come cosa la subacquea. Dovete sapere che non ho un diploma però sono una brava persona, quindi fidatevi e comprate i miei corsi</p>
      <button class="flex flex-row items-center text-indigo-400 border-b-2 border-zinc-900 hover:border-indigo-400 mt-4 transition-all duration-200">
        Più dettagli su di me
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>        
      </button>
    </div>
  </div>

</div>

