<h2 class="mb-6 text-center">Conosci i tuoi istruttori:</h2>

<img
  ixImg
  loading="lazy"
  path="gallery/pietro_overlay.png"
  style="transform: scaleX(-1)"
  class="-mb-16 ml-auto block h-64 md:hidden"
  alt=""
/>
<div
  class="group relative mb-16 justify-between overflow-hidden rounded-xl border-2 border-zinc-800 shadow-2xl md:flex md:flex-row"
>
  <div class="relative z-10 w-full p-6">
    <div
      class="w-full p-4 md:absolute md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 md:transform md:p-14"
    >
      <div
        class="mb-4 flex w-max rotate-0 scale-95 transform cursor-pointer flex-row items-center rounded-full bg-zinc-100 px-2.5 py-1 font-bold shadow-2xl transition-all duration-300 hover:-rotate-1 hover:scale-100"
      >
        <img
          ixImg
          loading="lazy"
          path="partner_logo/padi_logo.svg"
          alt=""
          class="mr-2 h-6 w-6"
        />
        PADI #<span class="text-indigo-500">529123</span>
      </div>
      <h2>Pietro Lungarini</h2>
      <p class="max-w-prose">
        Sono Pietro Lungarini, istruttore PADI e imprenditore digitale. Amo
        condividere la mia conoscenza e la mia passione per il mondo sommerso
        con i miei studenti e vederli crescere nella loro esperienza subacquea
        🤘
      </p>
      <button
        routerLink="/about/pietro-lungarini"
        class="mt-4 flex flex-row items-center border-b-2 border-zinc-900 text-indigo-400 transition-all duration-200 hover:border-indigo-400"
      >
        Più dettagli su di me
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="ml-2 h-4 w-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="absolute top-0 left-0 block h-full w-full md:hidden">
    <img
      ixImg
      loading="lazy"
      path="courses/shark.jpeg"
      alt=""
      [imgixParams]="{ ar: '1:1', fit: 'crop' }"
      [width]="1"
      [height]="1"
      class="h-full w-full object-cover object-center"
    />
    <div
      class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-zinc-900 to-zinc-900/80"
    ></div>
  </div>

  <div class="relative hidden md:block">
    <img
      ixImg
      loading="lazy"
      path="courses/shark.jpeg"
      alt=""
      [imgixParams]="{ ar: '1:1', fit: 'crop' }"
      [width]="1"
      [height]="1"
      class="w-screen max-w-sm object-cover object-center md:max-w-md lg:max-w-xl"
    />
    <div
      class="absolute top-0 left-0 h-full w-full bg-gradient-to-r from-zinc-900 to-zinc-900/80"
    ></div>
    <img
      ixImg
      loading="lazy"
      path="gallery/pietro_overlay.png"
      style="transform: scaleX(-1)"
      class="absolute bottom-0 right-0 z-10 h-full opacity-70 transition-all duration-300 group-hover:opacity-100"
      alt=""
    />
  </div>
</div>

<img
  ixImg
  loading="lazy"
  path="gallery/samuele_overlay_2.png"
  style="transform: scaleX(-1)"
  class="-mb-32 block h-80 md:hidden"
  alt=""
/>
<div
  class="group relative mb-16 justify-between overflow-hidden rounded-xl border-2 border-zinc-800 shadow-2xl md:flex md:flex-row"
>
  <div class="absolute top-0 left-0 block h-full w-full md:hidden">
    <img
      ixImg
      loading="lazy"
      path="courses/shark.jpeg"
      alt=""
      [imgixParams]="{ ar: '1:1', fit: 'crop' }"
      [width]="1"
      [height]="1"
      class="h-full w-full object-cover object-center"
    />
    <div
      class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-zinc-900 to-zinc-900/80"
    ></div>
  </div>

  <div class="relative hidden md:block">
    <img
      ixImg
      loading="lazy"
      path="courses/shark.jpeg"
      alt=""
      [imgixParams]="{ ar: '1:1', fit: 'crop' }"
      [width]="1"
      [height]="1"
      class="w-screen max-w-sm object-cover object-center md:max-w-md lg:max-w-xl"
    />
    <div
      class="absolute top-0 left-0 h-full w-full bg-gradient-to-l from-zinc-900 to-zinc-900/80"
    ></div>
    <img
      ixImg
      loading="lazy"
      path="gallery/samuele_overlay_2.png"
      style="transform: scaleX(-1)"
      class="absolute bottom-0 left-0 z-10 h-full opacity-70 transition-all duration-300 group-hover:opacity-100"
      alt=""
    />
  </div>

  <div class="relative z-10 w-full p-6">
    <div
      class="w-full p-4 md:absolute md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 md:transform md:p-14"
    >
      <div
        class="mb-4 flex w-max rotate-0 scale-95 transform cursor-pointer flex-row items-center rounded-full bg-zinc-100 px-2.5 py-1 font-bold shadow-2xl transition-all duration-300 hover:-rotate-1 hover:scale-100"
      >
        <img
          ixImg
          loading="lazy"
          path="partner_logo/padi_logo.svg"
          alt=""
          class="mr-2 h-6 w-6"
        />
        PADI #<span class="text-indigo-500">529119</span>
      </div>
      <h2>Samuele Lungarini</h2>
      <p class="max-w-prose">
        Sono Samuele Lungarini, un istruttore PADI di 18 anni. Nonostante la mia
        giovane età adoro far conoscere questo mondo agli altri tramite
        l'insegnamento. Trasmetto questa passione per aumentare la
        consapevolezza sulla preservazione degli oceani 🔥
      </p>
      <button
        routerLink="/about/samuele-lungarini"
        class="mt-4 flex flex-row items-center border-b-2 border-zinc-900 text-indigo-400 transition-all duration-200 hover:border-indigo-400"
      >
        Più dettagli su di me
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="ml-2 h-4 w-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
