<app-header [img]="'stock/Stock-9.jpeg'"></app-header>
<div class="mx-4 sm:mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 xl:px-12 pt-16 -mt-44 z-40 relative">
  <div class="mx-auto max-w-prose">
    <h1>L'importanza della sicurezza</h1>
    <p>
      Divertirsi nella subacquea è alla base di ogni immersione, ma un buon subacqueo potrà confermarti che non c'è divertimento senza una preparazione adeguata sulla gestione delle emergenze.
        <br><br>
      <b class="text-zinc-200">In questo breve articolo scoprirai:</b>
    </p>
    <ul class="marker:text-indigo-500 list-disc text-zinc-400 text-lg space-y-2">
      <li>Perchè la subacquea è un'attività sicura?</li>
      <li>Perchè la subacquea continua a rimanere una delle attività più divertenti in vacanza?</li>
      <li>Chi sono le associazioni che hanno contribuito alla sicurezza subacquea?</li>
      <li>I 5 punti per essere un buon subacqueo</li>
    </ul>
  </div>
</div>
<div class="mx-4 sm:mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 xl:px-12 pt-16 z-40 relative shadow-2xl">
  
  <div class="mx-auto max-w-prose">
    <img ixImg path="stock/Stock-1.jpeg" class="w-full aspect-video mb-4 rounded-md shadow-lg object-cover object-top" loading="lazy" alt="">
    <h2>Perchè la subacquea è un'attività sicura?</h2>aerei
    <p>
      Anni fa ebbi la possibilità di confrontarmi con un amico di vecchia data. Aveva appena terminato gli studi per diventare un pilota di aerei di linea e ci siamo visti per una chiacchierata.
      <br><br>
      Mi stava raccontando di tutte le cose che aveva imparato, quando ad un certo punto lo fermai dicendogli: <i>"A me gli aerei terrorizzano 😂"</i>. Ho sempre avuto un po' di paura nel salire su un aereo fino a quel giorno.
      <br><br>
      Un po' stranito, mi guardò e mi disse: <i>"Se ci trovassimo nel 1900 ti darei anche ragione, ma dai... siamo nel 21° secolo!"</i>. Lì per li non ho capito cosa voleva dire, ma poi ha continuato dicendomi: <i>"È verissimo che volare non ERA sicuro, ma negli anni, proprio perchè volare era molto pericoloso, hanno fatto migliaia di studi, rendendo un'incidente aereo molto meno probabile di un'incidente in macchina."</i> 
      <br><br>
      Lì ho finalmente capito cosa voleva dire. Proprio perchè volare era un'ambiente ostile per l'uomo, ce l'hanno messa tutta per rendere il volo più sicuro di un banale giro in macchina.
      <br><br>
      Negli anni ho compreso che questa sua affermazione si poteva notare anche in altri ambiti, come per esempio la subacquea!
      <br><br>
      Se hai fatto il corso <a routerLink="/courses/info/open-water" target="_blank">PADI Open Water Diver</a> saprai benissimo che la subacquea fù disponibile inizialmente solo per attività militari.
      <br><br>
      È proprio con la nascita di PADI nel 1966 che la subacquea prese una piega completamente diversa. John Cronin e Ralph Erickson, davanti ad una bottiglia di scotch decisero di fondare PADI. Il loro obiettivo: dare alle persone maggiori possibilità di godersi il mondo sommerso tramite l'offerta di addestramento pertinente e valido dal punto di vista educativo, per formare subacquei sicuri di sé che si immergessero con regolarità. (Puoi leggere la storia completa <a routerLink="https://www.padi.com/it/riguardo/storia" rel="noopener noreferrer" target="_blank">cliccando qui</a>.)
      <br><br>
      PADI negli anni ha contribuito alla sicurezza subacquea, trasformando quella che prima era un'attività riservata ai militari, ad un'attività per ogni genere di persona.
    </p>
  </div>
  
  <div class="mx-auto max-w-prose mt-16">
    <img ixImg path="stock/Stock-10.jpeg" class="w-full aspect-video mb-4 rounded-md shadow-lg object-cover object-top" loading="lazy" alt="">
    <h2>Perchè la subacquea continua a rimanere una delle attività più divertenti in vacanza?</h2>
    <p>
      Confrontandomi con tantissimi subacquei in questi anni ho capito che le persone non si immergono solo per vedere il fondale o qualche pesce.
      <br><br>
      <b class="text-zinc-200">Noi e altri 28 milioni di subacquei ti possiamo confermare che immergersi ti cambia la vita perchè:</b>
    </p>
    <ul class="marker:text-indigo-500 list-disc text-zinc-400 text-lg space-y-2">
      <li>Hai modo di sperimentare uno stato "meditativo" completamente nuovo</li>
      <li>Puoi connetterti con la natura immergendoti in essa</li>
      <li>Scopri un mondo completamente diverso da quello che sei abituato a vedere ogni giorno</li>
      <li>Puoi lasciare la tua impronta per salvare gli Oceani</li>
      <li>Puoi creare connessioni più strette con i tuoi amici o familiari in profondità</li>
      <li>Scopri il silenzio rumoroso delle bolle sott'acqua</li>
    </ul>
    <p>
      <br>
      Tutto questo è possibile però solo grazie ad un centro diving o a istruttori che prediligono la sicurezza. Questo è lo scopo di PADI e degli istruttori qualificati PADI.
      <br><br>
      Essere rilassati e non dover pensare a preoccupazioni sott'acqua, ti dà l'opportunità ti goderti al massimo l'immersione. Continuare il tuo percorso subacqueo con <a routerLink="/courses" target="_blank">nuovi corsi e specialità</a> ti aiuterà a raccontare le più belle esperienze subacquee.
    </p>
  </div>
  
  <div class="mx-auto max-w-prose mt-16">
    <img ixImg path="stock/Stock-5.jpeg" class="w-full aspect-video mb-4 rounded-md shadow-lg object-cover object-top" loading="lazy" alt="">
    <h2>Chi sono le associazioni che hanno contribuito alla sicurezza subacquea?</h2>
    <p>
      Come ti abbiamo accennato già poco fa, la subacquea è un mondo che nasce parecchio tempo fa. Ha avuto modo di svilupparsi al meglio in questi anni, ed è grazie ad alcune associazioni che ora ti ritrovi a leggere questo articolo con la possibilità di immergerti quando vuoi.
      <br><br>
    </p>

    <ul class="marker:text-indigo-500 list-disc text-zinc-400 text-lg space-y-4">
      <li>
        <a href="https://www.emergencyfirstresponse.com/" target="_blank" class="text-zinc-200 font-bold" rel="noopener noreferrer">Emergency First Response®</a> - Incentrato sulla formazione del soccorritore laico, l'approccio Emergency First Response alla formazione crea fiducia nei soccorritori laici e aumenta la loro disponibilità a rispondere di fronte a un'emergenza medica insegnando loro le competenze di cui hanno bisogno in un ambiente di apprendimento non stressante. Ai partecipanti viene inoltre fornita tutta la pratica necessaria per padroneggiare e conservare queste abilità. EFR® collabora con PADI per creare <a routerLink="/courses/info/rescue" target="_blank">Rescue Diver</a> abili grazie al loro corso <a routerLink="/courses/info/efr" target="_blank">Emergency First Response</a>.
      </li>
      <li>
        <a href="https://www.daneurope.org/" target="_blank" class="text-zinc-200 font-bold" rel="noopener noreferrer">Divers Alert Network (DAN®)</a> - La missione di DAN è rendere ogni immersione priva di incidenti. La ricerca condotta al DAN, sia internamente che in collaborazione con illustri scienziati e istituti di ricerca, rientra solitamente in una di queste quattro aree di interesse: salute e immersioni, sicurezza in decompressione, prevenzione delle lesioni subacquee, trattamento delle lesioni subacquee.
      </li>
      <li>
        <a href="https://www.padi.com/" target="_blank" class="text-zinc-200 font-bold" rel="noopener noreferrer">PADI®</a> - Questa associazione, che oramai conoscerai bene, ha creato le basi per la subacquea moderna. Grazie a <b>Diving Science and Technology (DSAT)</b>, PADI, è riuscita a creare il primo Pianificatore per Immersioni Ricreative (PIR), che ha permesso a subacquei non-militari di immergersi per più tempo senza decompressione. Questo ha permesso di rendere la subacquea un'ambiente sicuro e semplice.
      </li>
    </ul>
  </div>
  
  <div class="mx-auto max-w-prose mt-16">
    <img ixImg path="stock/Stock-4.jpeg" class="w-full aspect-video mb-4 rounded-md shadow-lg object-cover object-top" loading="lazy" alt="">
    <h2>I 5 punti per essere un buon subacqueo</h2>
    <p>
      Prima di parlare di come diventare un buon subacqueo, dovremmo innanzitutto capire <b>perchè</b> dovremmo esserlo. Ma se hai letto questo articolo fino a qui, saprai risponderci. Devi diventare un buon subacqueo, abile e sicuro di sè per goderti le immersioni al meglio.
      <br><br>
      <b>Quali sono quindi i 5 punti per essere un buon subacqueo?</b>
    </p>
    <ul class="marker:text-indigo-500 list-disc text-zinc-400 text-lg space-y-2">
      <li>Seguire sempre le buone abitudini che ti insegnano i tuoi istruttori. Tenere sempre lo snorkel in superficie e fare il check pre-immersione sono solo alcune delle buone abitudini che ti insegnano nel corso <a routerLink="/courses" target="_blank">PADI Open Water Diver</a></li>
      <li>Dai un'obiettivo specifico alle tue immersioni. Se ti dai un'obiettivo vago, potresti scombussolare il programma della tua immersione, che potrebbe portare a situazioni imprevedibili</li>
      <li>Programma la tua immersione dall'inizio alla fine. Se sai quale deve essere la tua scorta d'aria, saprai di avere sempre aria sufficiente per gestire eventuali imprevisti</li>
      <li>Usa il sistema di coppia. Non immergerti mai da solo, comunica spesso con il tuo buddy di immersione</li>
      <li>Continua <b>sempre</b> a formarti. Completare <a routerLink="/courses" target="_blank">Corso PADI</a> è l'unico modo che può assicurarti la padronanza di abilità che possono darti più serenità sott'acqua</li>
    </ul>
  </div>
  
  <div class="mx-auto max-w-prose mt-16">
    <h2>Conclusione</h2>
    <p>
      Se sei arrivato fino a qui hai capito quindi che la subacquea è un mondo per tutti, ma soprattutto SICURO. Grazie agli studi di tantissime associazioni come PADI, EFR e DAN, oggi puoi immergerti quando vuoi essendo in totale sicurezza. Possiamo goderci vacanze subacquee divertenti che ci faranno stare sereni essendo un modello di ruolo anche per gli altri 🤟
      <br><br>
      Dai un'occhiata ai <a routerLink="/courses" target="_blank">Corsi PADI</a> che potrebbero fare al caso tuo e <a routerLink="/contact" target="_blank">contattaci</a> per iniziare il tuo prossimo corso subacqueo!
      <br><br>
      Un abbraccio,<br>
      da Pietro e Samuele 🙌
    </p>
  </div>

  <app-banner></app-banner>
</div>