<div class="group w-full h-full">
  <div
    [routerLink]="course ? 'courses/info/' + course.id : null"
    [ngClass]="{
      'border-t-4 border-t-amber-500': isHighlighted,
      'opacity-70 group-hover:shadow-none cursor-default': !course
    }"
    class="relative w-full h-full rounded-xl overflow-hidden shadow-none group-hover:shadow-2xl border border-zinc-800 transition-all duration-300 cursor-pointer"
  >
    <div *ngIf="!course" [@noCourseAnim]="state" (@noCourseAnim.done)="onDone()" class="absolute w-36 h-96 left-0 top-1/2 -translate-y-1/2 bg-zinc-50 opacity-10 blur-3xl z-40"></div>
    <div class="relative overflow-hidden scale-100 group-hover:scale-105 transition-all duration-300">
      <img *ngIf="course; else noCourse" ixImg loading="lazy" [path]="course.bgImg" alt="" class="w-full max-w-full aspect-video object-cover object-center z-0">
      <ng-template #noCourse>
        <div class="w-full aspect-video bg-zinc-500"></div>
      </ng-template>
      <div class="absolute top-0 left-0 bg-gradient-to-t from-zinc-900 transition-all duration-300 w-full h-full z-10"></div>
      <div
        [ngClass]="{
          'opacity-100 group-hover:opacity-0': course,
          'opacity-100 group-hover:opacity-100': !course
        }"
        class="absolute top-0 left-0 bg-gradient-to-b from-zinc-900/40 opacity-100 group-hover:opacity-0 transition-all duration-300 w-full h-full z-10"></div>
    </div>
    <div
      [ngClass]="{
        '-translate-y-1': isHighlighted
      }"
      class="relative px-4 pb-4 z-20 -mt-12">
      <ng-container *ngIf="course; else noCourseText">
        <p *ngIf="course" class="text-lg font-bold text-zinc-300 group-hover:text-zinc-50 transition-all duration-300">{{course.title}}</p>
        <p *ngIf="course" class="text-sm" [innerHtml]="course.shortDesc"></p>
      </ng-container>
      <ng-template #noCourseText>
        <div class="opacity-80">
          <p class="w-full rounded-sm h-6 mb-4 bg-zinc-300"></p>
          <p class="w-full rounded-sm h-3 mb-3 bg-zinc-500"></p>
          <p class="w-full rounded-sm h-3 mb-3 bg-zinc-500"></p>
          <p class="w-full rounded-sm h-3 mb-3 bg-zinc-500"></p>
          <p class="w-full rounded-sm h-3 mb-3 bg-zinc-500"></p>
        </div>
      </ng-template>
    </div>
  </div>
</div>