<h1>Your diving experience.</h1>
<p class="max-w-prose">
  LungaBros è il nostro brand, nato dalla nostra passione per il mondo sommerso
  e dalla nostra esperienza come istruttori PADI. Scopri le meraviglie della
  subacquea e guarda il mondo sommerso con occhi nuovi!
</p>

<div class="mt-6 flex gap-6">
  <button
    routerLink="/courses"
    class="group flex rotate-0 cursor-pointer flex-row items-center rounded-md bg-white py-2 px-4 font-semibold text-indigo-500 shadow-2xl ring-0 ring-indigo-300 ring-offset-2 ring-offset-indigo-300 transition-all duration-200 hover:-rotate-1 hover:ring hover:ring-offset-indigo-500"
  >
    Diventa un subacqueo
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="-ml-4 h-4 w-4 opacity-0 transition-all duration-300 group-hover:ml-2 group-hover:opacity-100"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M8.25 4.5l7.5 7.5-7.5 7.5"
      />
    </svg>
  </button>
</div>
