<div class="mt-16">
  <div class="flex flex-row items-center mb-6">
    <h3 class="block m-0">Le mie certificazioni</h3>
    <div class="block group ml-1 scale-75">
      <a href="https://apps.padi.com/scuba-diving/pro-chek/home/prochek?langID=5&number={{memberId}}" target="_blank" rel="noopener noreferrer">
        <div class="bg-zinc-100 shadow-2xl rounded-full flex flex-row items-center px-2.5 py-1 w-max transform scale-95 rotate-0 group-hover:-rotate-1 group-hover:scale-100 transition-all duration-300 font-bold cursor-pointer">
          <img ixImg loading="lazy" path="partner_logo/padi_logo.svg" alt="" class="w-6 h-6 mr-2">
          <p class="text-zinc-800 mt-0">PADI #<span class="text-indigo-500">{{memberId}}</span></p>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="!isMobile; else mobile" class="flex flex-row gap-6 flex-wrap">
    <ng-container *ngFor="let cert of certs; let i = index">
      <div class="flex flex-col w-48">
        <div
          [ngClass]="{
            'bg-slate-800/50': cert.isPro,
            'bg-[#bbab74]': !cert.isPro
          }"
          class="bg-slate-800/50 border border-zinc-700 rounded-md w-full h-28 relative shadow-2xl hover:scale-105 transition-all duration-300"
        >
          <img ixImg loading="lazy" [path]="cert.isPro ? 'partner_logo/padi_logo_gold.svg' : 'partner_logo/padi_logo_colored_light.svg'" class="h-16 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
        </div>
        <p class="text-center text-sm">{{cert.title}}</p>
      </div>
    </ng-container>
  </div>
  <ng-template #mobile>
    <ng-container *ngFor="let cert of certs; let i = index">
      <div class="flex flex-row mb-4 items-center">
        <div
          [ngClass]="{
            'bg-slate-800/50': cert.isPro,
            'bg-[#bbab74]': !cert.isPro
          }"
          class="bg-slate-800/50 border border-zinc-700 rounded-md flex-shrink-0 w-16 h-10 relative shadow-2xl  hover:scale-105 transition-all duration-300"
        >
          <img ixImg loading="lazy" [path]="cert.isPro ? 'partner_logo/padi_logo_gold.svg' : 'partner_logo/padi_logo_colored_light.svg'" class="h-6 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
        </div>
        <p class="ml-4 text-sm m-0 font-bold">{{cert.title}}</p>
      </div>
    </ng-container>
  </ng-template>
</div>