<div class="relative group w-full h-full">
  <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
    <img
      #ix
      ixImg
      alt=""
      priority
      loading="eager"
      [ngClass]="{
        'scale-100': !loaded,
        'scale-125': loaded
      }"
      [path]="img"
      class="absolute top-0 left-0 w-full h-full object-cover object-center transform scale-100 transition-all z-10"
      style="transition-duration: 20000ms;"
    >
    <div class="absolute w-full h-full bg-gradient-to-b from-[#000000bb] to-zinc-900 backdrop-blur-sm z-20"></div>
  </div>
  <div class="relative w-full h-full m-0 pt-16 sm:pt-8 z-30">
    <img routerLink="/" ixImg path="logo/lungabros_light_minimal.svg" loading="eager" priority alt="" class="absolute top-6 left-6 w-32 cursor-pointer hidden md:block">
    <div class="w-full h-full px-8 max-w-7xl py-8 sm:py-16 md:py-30 mt-16 mx-auto">
      <h1 class="w-full text-center">{{ title }}</h1>
      <p class="text-center text-zinc-200">{{ subtitle }}</p>
    </div>
  </div>
</div>