<div class="mb-20 mt-8 w-full">
  <h2 class="text-center">Perchè sceglierci?</h2>
  <div class="mt-8 grid grid-cols-1 gap-8 bg-zinc-900 md:grid-cols-3">
    <div class="group relative p-4 md:p-8">
      <div
        class="absolute top-0 left-0 h-full w-full scale-100 rounded-xl bg-gradient-to-t from-zinc-900 to-zinc-800/30 shadow-2xl transition-all duration-300 group-hover:scale-100 group-hover:opacity-100 md:scale-95 md:opacity-0"
      ></div>
      <div class="relative">
        <div
          class="mx-auto mb-3 w-max rotate-0 transform transition-all duration-300 group-hover:-rotate-6"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="block h-16 w-16 text-amber-500 transition-all duration-300 group-hover:text-amber-500 md:text-zinc-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z"
            />
          </svg>
        </div>
        <h3 class="text-center">La passione</h3>
        <p class="text-center">
          Nonostante questo sia per noi un business, abbiamo iniziato dando voce
          alla nostra passione. Negli anni abbiamo continuato a formarci con lo
          stesso principio di curiosità che ci aveva spinto a fare la nostra
          prima immersione. Tutt'ora manteniamo ben saldi questi valori.
        </p>
        <button
          routerLink="/about"
          class="mx-auto mt-4 flex flex-row items-center border-b-2 border-zinc-900 text-indigo-400 transition-all duration-200 group-hover:border-indigo-400"
        >
          La nostra storia
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="ml-2 h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="group relative p-4 md:p-8">
      <div
        class="absolute top-0 left-0 h-full w-full scale-100 rounded-xl bg-gradient-to-t from-zinc-900 to-zinc-800/30 shadow-2xl transition-all duration-300 group-hover:scale-100 group-hover:opacity-100 md:scale-95 md:opacity-0"
      ></div>
      <div class="relative">
        <div
          class="mx-auto mb-3 w-max rotate-0 transform transition-all duration-300 group-hover:rotate-6"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="block h-16 w-16 text-amber-500 transition-all duration-300 group-hover:text-amber-500 md:text-zinc-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            />
          </svg>
        </div>
        <h3 class="text-center">La sicurezza</h3>
        <p class="text-center">
          Al principio di ogni immersione e ogni corso, oltre al divertimento,
          mettiamo in priorità la sicurezza. Grazie alla nostra formazione
          tramite diverse associazioni (come per esempio EFR®) possiamo vantarci
          di mantenere alti gli standard di sicurezza in tutti i nostri servizi.
        </p>
        <button
          routerLink="/articles/importanza-della-sicurezza"
          class="mx-auto mt-4 flex flex-row items-center border-b-2 border-zinc-900 text-indigo-400 transition-all duration-200 group-hover:border-indigo-400"
        >
          L'importanza della Sicurezza
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="ml-2 h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="group relative p-4 md:p-8">
      <div
        class="absolute top-0 left-0 h-full w-full scale-100 rounded-xl bg-gradient-to-t from-zinc-900 to-zinc-800/30 shadow-2xl transition-all duration-300 group-hover:scale-100 group-hover:opacity-100 md:scale-95 md:opacity-0"
      ></div>
      <div class="relative">
        <div
          class="mx-auto mb-3 w-max rotate-0 transform transition-all duration-300 group-hover:-rotate-6"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="block h-16 w-16 text-amber-500 transition-all duration-300 group-hover:text-amber-500 md:text-zinc-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
            />
          </svg>
        </div>
        <h3 class="text-center">Siamo Torchbearer</h3>
        <p class="text-center">
          Collaborando con PADI® non solo abbiamo avuto a disposizione i
          migliori contenuti didattici di tutto il settore subacqueo, ma abbiamo
          anche avuto modo di diventare "Ambasciatori dell'Oceano", preservando
          la sua integrità grazie ad associazioni come PADI AWARE®
        </p>
        <button
          routerLink="/articles/torchbearers"
          class="mx-auto mt-4 flex flex-row items-center border-b-2 border-zinc-900 text-indigo-400 transition-all duration-200 group-hover:border-indigo-400"
        >
          Come preserviamo l'Oceano
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="ml-2 h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
