<div class="w-full mb-20 mt-8">
  <h2 class="text-center">Perchè sceglierci?</h2>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-3 mt-8 bg-zinc-900">

    <div class="p-4 md:p-8 group relative">
      <div class="md:opacity-0 scale-100 md:scale-95 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300 absolute top-0 left-0 w-full h-full shadow-2xl rounded-xl bg-gradient-to-t from-zinc-900 to-zinc-800/30"></div>
      <div class="relative">
        <div class="transform rotate-0 group-hover:-rotate-6 transition-all duration-300 w-max mx-auto mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="block w-16 h-16 text-amber-500 md:text-zinc-200 group-hover:text-amber-500 transition-all duration-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
          </svg>      
        </div>
        <h3 class="text-center">La formazione</h3>
        <p class="text-center">Dal 2018 ad oggi non abbiamo mai smesso di investire sulla formazione e continueremo a farlo sempre. Abbiamo l'appoggio di <b>DUE</b> fantastici Course Directors (Enzo Volpicelli e Grazia Palmisano) che ci hanno trasmesso la loro esperienza sperando che noi potessimo fare lo stesso con i nostri studenti.</p>
      </div>
    </div>

    <div class="p-4 md:p-8 group relative">
      <div class="md:opacity-0 scale-100 md:scale-95 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300 absolute top-0 left-0 w-full h-full shadow-2xl rounded-xl bg-gradient-to-t from-zinc-900 to-zinc-800/30"></div>
      <div class="relative">
        <div class="transform rotate-0 group-hover:rotate-6 transition-all duration-300 w-max mx-auto mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="block w-16 h-16 text-amber-500 md:text-zinc-200 group-hover:text-amber-500 transition-all duration-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
          </svg>            
        </div>
        <h3 class="text-center">L'Esperienza</h3>
        <p class="text-center">Nella subacquea il numero di immersioni o la profondità massima sono solo un numero. Ne abbiamo avuto la prova confrontandoci con centinaia di subacquei. Da quando abbiamo iniziato la nostra formazione abbiamo fatto tantissime immersioni di addestramento, dandoci così le giuste conoscenze per ogni eventualità.</p>
      </div>
      </div>

    <div class="p-4 md:p-8 group relative">
      <div class="md:opacity-0 scale-100 md:scale-95 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300 absolute top-0 left-0 w-full h-full shadow-2xl rounded-xl bg-gradient-to-t from-zinc-900 to-zinc-800/30"></div>
      <div class="relative">
        <div class="transform rotate-0 group-hover:-rotate-6 transition-all duration-300 w-max mx-auto mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="block w-16 h-16 text-amber-500 md:text-zinc-200 group-hover:text-amber-500 transition-all duration-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
          </svg>         
        </div>
        <h3 class="text-center">Siamo Torchbearer</h3>
        <p class="text-center">Collaborando con PADI® non solo abbiamo avuto a disposizione i migliori contenuti didattici di tutto il settore subacqueo, ma abbiamo anche avuto modo di diventare "Ambasciatori dell'Oceano". Preserviamo i fondali grazie ad associazioni come PADI AWARE® Foundation e a numerosi eventi ambientali.</p>
      </div>
      </div>

  </div>
</div>