<div class="group relative h-full w-full">
  <div class="absolute top-0 left-0 h-full w-full overflow-hidden">
    <img
      #ix
      ixImg
      alt=""
      priority
      loading="eager"
      [ngClass]="{
        'scale-100': !loaded,
        'scale-110': loaded
      }"
      [imgixParams]="{ ar: '16:5', fit: 'crop' }"
      [path]="img"
      class="absolute top-0 left-0 z-10 h-full w-full scale-100 transform object-cover object-top transition-all"
      style="transition-duration: 20000ms"
    />
    <div
      class="absolute z-20 h-full w-full bg-gradient-to-b from-[#000000bb] to-zinc-900 backdrop-blur-sm"
    ></div>
  </div>
  <div class="relative z-30 m-0 h-full w-full pt-16 sm:pt-8">
    <img
      routerLink="/"
      ixImg
      path="logo/lungabros_light_minimal.svg"
      loading="eager"
      priority
      alt=""
      class="absolute top-6 left-6 hidden w-32 cursor-pointer md:block"
    />
    <div
      class="md:py-30 mx-auto mt-16 h-44 w-full max-w-7xl px-8 py-8 sm:py-16"
    ></div>
  </div>
</div>
