<div class="relative w-full mt-24 sm:mt-32 h-72 md:h-96 group">
  <div class="absolute top-0 left-0 w-full h-full scale-95 group-hover:scale-100 xl:scale-125 xl:group-hover:scale-125 shadow-2xl rounded-xl rotate-0 group-hover:-rotate-1 md:-rotate-1 border-4 border-amber-500 overflow-hidden transition-all duration-300">
    <img ixImg loading="lazy" path="stock/Stock-10.jpeg" class="w-full h-full object-cover object-center z-10" alt="">
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-indigo-800 to-indigo-800/80 backdrop-blur z-20"></div>
    <img ixImg loading="lazy" path="gallery/pietro_overlay.png" alt="" class="hidden md:block absolute left-0 bottom-0 h-80 w-auto group-hover:scale-105 transition-all duration-300 z-30">
    <img ixImg loading="lazy" path="gallery/samuele_overlay_2.png" alt="" class="hidden md:block absolute right-0 bottom-0 h-80 w-auto group-hover:scale-105 transition-all duration-300 z-30">
    
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-md">
      <div class="px-6 md:px-0">
        <h1 class="text-3xl sm:text-4xl lg:text-5xl">Inizia il tuo nuovo corso e immergiti con noi 😜</h1>
        <button class="group flex flex-row items-center text-indigo-500 bg-white ring-0 group-hover:ring ring-offset-0 group-hover:ring-offset-2 ring-offset-indigo-500 ring-indigo-300 py-2 px-4 rounded-md shadow-2xl mt-4 transition-all duration-200 cursor-pointer">
          Contattaci ora
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-4 w-4 h-4 group-hover:ml-2 opacity-0 group-hover:opacity-100 transition-all duration-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>        
        </button>
      </div>
    </div>
  </div>
</div>