<div class="bg-center bg-cover bg-[url('assets/images/Destination_PADI6.jpeg')]">
  <div class="relative w-full px-4 lg:px-16 m-0 pt-16 sm:pt-8 bg-gradient-to-b from-[#000000bb] to-zinc-900 backdrop-blur-sm">
      <img class="hidden sm:block absolute left-4 top-5 w-8 md:w-16 lg:w-24 xl:w-36 opacity-50" src="assets/svgs/fish/Fish-1.svg">
      <img class="hidden sm:block absolute top-8 -right-2 w-8 md:w-16 lg:w-24 xl:w-36 opacity-50" src="assets/svgs/fish/Fish-2.svg">
      <img class="hidden sm:block absolute right-7 bottom-4 w-8 md:w-16 lg:w-24 xl:w-36 opacity-50" src="assets/svgs/fish/Fish-3.svg">
      <img class="hidden sm:block absolute left-5 bottom-2 w-8 md:w-16 lg:w-24 xl:w-36 opacity-50" src="assets/svgs/fish/Fish-4.svg">
    <div class="w-full h-full px-8 sm:px-16 md:px-36 lg:px-48 xl:px-72 py-8 sm:py-16 md:py-30">
      <img src="assets/logo/lungabros_light.svg" class="w-full mt-16">
    </div>
  </div>
</div>