<h3>Scegli quale CV modificare:</h3>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-8">
  <div routerLink="edit/pietro-lungarini" class="w-full flex items-end relative h-96 rounded-xl overflow-hidden shadow-2xl border-2 border-zinc-800 cursor-pointer md:scale-100 md:hover:scale-105 transition-all duration-300">
    <img ixImg path="gallery/pietro_norm.jpg" class="absolute w-full h-full object-cover z-0" alt="">
    <div class="bg-gradient-to-t from-zinc-900 to-zinc-900/40 absolute w-full h-full z-10"></div>
    <div class="mb-4 mx-auto w-max px-6 z-20 relative">
      <h3 class="text-center">Curriculum Subacqueo</h3>
      <p class="text-center">Pietro Lungarini</p>
    </div>
  </div>
  <div routerLink="edit/samuele-lungarini" class="w-full flex items-end relative h-96 rounded-xl overflow-hidden shadow-2xl border-2 border-zinc-800 cursor-pointer md:scale-100 md:hover:scale-105 transition-all duration-300">
    <img ixImg path="gallery/samuele_norm.jpg" class="absolute w-full h-full object-cover z-0" alt="">
    <div class="bg-gradient-to-t from-zinc-900 to-zinc-900/40 absolute w-full h-full z-10"></div>
    <div class="mb-4 mx-auto w-max px-6 z-20 relative">
      <h3 class="text-center">Curriculum Subacqueo</h3>
      <p class="text-center">Samuele Lungarini</p>
    </div>
  </div>
</div>